<div class="layout-privado">

  <header class="barra-superior">
    <div class="marca-sistema">
      <div class="icono-marca"></div>

      <div>
        <h2>Control de Producción</h2>
        <p>Panadería</p>
      </div>
    </div>

    <div class="zona-usuario">
      <button
        class="boton-tema"
        (click)="toggleModoOscuro()"
        [title]="modoOscuro ? 'Cambiar a modo claro' : 'Cambiar a modo oscuro'">
        {{ modoOscuro ? '☀️' : '🌙' }}
      </button>

      <div class="rol-usuario">
        <span>Rol</span>
        <strong>{{ obtenerRolVisible() }}</strong>
      </div>

      <button type="button" class="boton-salir" (click)="cerrarSesion()">
        Cerrar sesión
      </button>
    </div>
  </header>

  <div class="cuerpo-sistema">

    <aside class="sidebar">
      <nav class="menu-lateral">

        <a
          *ngIf="esAdministrador()"
          routerLink="/dashboard"
          routerLinkActive="activo">
          Dashboard
        </a>

        <a routerLink="/produccion" routerLinkActive="activo">
          Producción
        </a>

        <a routerLink="/control-turno-reparto" routerLinkActive="activo">
          Control de Turno y Reparto
        </a>

        <a routerLink="/informes-turno" routerLinkActive="activo">
          Informes de Turno
        </a>

        <a routerLink="/bodega" routerLinkActive="activo">
          Bodega
        </a>

        <a routerLink="/pedidos-despacho" routerLinkActive="activo">
          Pedidos/Despacho
        </a>

        <a
          *ngIf="esAdministrador()"
          routerLink="/pagos-cobros"
          routerLinkActive="activo">
          Pagos/Cobros
        </a>

        <a
          *ngIf="esAdministrador()"
          routerLink="/clientes-saldos"
          routerLinkActive="activo">
          Clientes/Saldos
        </a>

        <a
          *ngIf="esAdministrador()"
          routerLink="/reportes"
          routerLinkActive="activo">
          Reportes
        </a>

        <a
          *ngIf="esAdministrador()"
          routerLink="/gestion-usuarios"
          routerLinkActive="activo">
          Gestión de Usuarios
        </a>

      </nav>
    </aside>

    <main class="contenido">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>
